/*
    Este é um comentário em CSS.
*/

/*
    Utilizando font Google.
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



/*
    Utilizando o seletor genérico HTML
    Os seletores genéricos são os próprios elementos HTML.
    Ex: p{ ... }
    Ex: div{ ... }
    Ex: span{ ... }
    etc;
*/
body{
    font-size: 12px;
    font-family: 'Oswald', 'Heveltica Neue',Arial, Helvetica, sans-serif;
    color: #444;
}

a{
    color: #00ccff;
    font-size: 12px;
    text-decoration: none;
}



/*
    Utiizando o seletor ID.
    O seletor ID é utilizado usando o símbolo ( # ) seguido do nome escolhido.
    Ex: #container{ ... }
*/
#container{
    max-width: 1128px;
}

    /*
    Aqui estamos adicionando os valores da margem, utilizando a técnica Short Hand.
    Ex formatos Short Hand:border: 
    Sempre no sentido horário utilizando os valores:border: 
    TOP / BOTTOM  LEFT / RIGHT
    Ex: margin: 20px 10px;

    */
  

/*
    Aqui utilizaremos o seletor CLASS.
    Para utilizar o seletor CLASS é necessário usar o ( . ) antes do nome escolhido para a classe.
*/

